workflow-main.json
{
  "name": "AgroMind - Main CPS Loop",
  "nodes": [
    {
      "parameters": {
        "topic": "agromind/sensors",
        "options": {}
      },
      "id": "mqtt-trigger",
      "name": "MQTT Trigger",
      "type": "n8n-nodes-base.mqttTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "mqtt": { "id": "mqtt-cred", "name": "Mosquitto Local" }
      }
    },
    {
      "parameters": {
        "url": "http://localhost:8000/weather/forecast",
        "options": {}
      },
      "id": "get-weather",
      "name": "Get Weather Forecast",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "qwen2.5:7b" },
            { "name": "stream", "value": false },
            {
              "name": "prompt",
              "value": "=You are an agricultural AI assistant. Analyze sensor data and return ONLY valid JSON.\n\nPRIMARY DECISION FACTORS:\n- Soil Moisture: {{ $('MQTT Trigger').item.json.soil_moisture }}%\n- Rain Expected: {{ $('Get Weather Forecast').item.json.rain_expected }}\n- Rain Probability: {{ $('Get Weather Forecast').item.json.rain_probability_next_hour }}%\n\nSUPPORTING CONTEXT:\n- Temperature: {{ $('MQTT Trigger').item.json.temperature }}°C\n- Humidity: {{ $('MQTT Trigger').item.json.humidity }}%\n- Rain Detected: {{ $('MQTT Trigger').item.json.rain_detected || false }}\n- Light Level: {{ $('MQTT Trigger').item.json.light_level || 500 }}\n- Last Irrigated: {{ $('MQTT Trigger').item.json.last_irrigated_minutes || 60 }} minutes ago\n- Pump Runtime Today: {{ $('MQTT Trigger').item.json.pump_runtime_today || 0 }} seconds\n\nINSTRUCTIONS:\nMake irrigation decisions primarily based on soil_moisture and rain signals. Use other fields as supporting context. Return ONLY this JSON:\n{\"decision\": \"IRRIGATE\" or \"SKIP\", \"reason\": \"one sentence\", \"health_score\": 0-100, \"next_check_minutes\": 15-60, \"urgency\": \"low\" or \"medium\" or \"high\"}"
            }
          ]
        }
      },
      "id": "ollama-decide",
      "name": "Ollama Decision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.response;\nconst match = raw.match(/\\{[\\s\\S]*\\}/);\nif (!match) throw new Error('No JSON in Ollama response');\nconst parsed = JSON.parse(match[0]);\nparsed.next_check_minutes = Math.min(parsed.next_check_minutes || 15, 3);\nconst sensor = $('MQTT Trigger').item.json;\nconst weather = $('Get Weather Forecast').item.json;\nreturn [{\n  json: {\n    soil_moisture: sensor.soil_moisture,\n    temperature: sensor.temperature,\n    humidity: sensor.humidity,\n    rain_detected: sensor.rain_detected || false,\n    rain_expected: weather.rain_expected ?? false,\n    light_level: sensor.light_level || 500.0,\n    last_irrigated_minutes: sensor.last_irrigated_minutes || 60,\n    pump_runtime_today: sensor.pump_runtime_today || 0,\n    decision: parsed.decision,\n    reason: parsed.reason,\n    health_score: parsed.health_score || 50.0,\n    next_check_minutes: parsed.next_check_minutes,\n    urgency: parsed.urgency || 'low'\n  }\n}];"
      },
      "id": "parse-decision",
      "name": "Parse Decision JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{ $json.decision }}", "value2": "IRRIGATE" }]
        }
      },
      "id": "if-irrigate",
      "name": "IF Irrigate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "topic": "agromind/pump",
        "message": "ON",
        "options": {}
      },
      "id": "pump-on",
      "name": "Pump ON",
      "type": "n8n-nodes-base.mqtt",
      "typeVersion": 1,
      "position": [1500, 200],
      "credentials": {
        "mqtt": { "id": "mqtt-cred", "name": "Mosquitto Local" }
      }
    },
    {
      "parameters": {
        "amount": "={{ $json.next_check_minutes }}",
        "unit": "minutes"
      },
      "id": "wait",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1750, 200]
    },
    {
      "parameters": {
        "topic": "agromind/pump",
        "message": "OFF",
        "options": {}
      },
      "id": "pump-off",
      "name": "Pump OFF",
      "type": "n8n-nodes-base.mqtt",
      "typeVersion": 1,
      "position": [2000, 200],
      "credentials": {
        "mqtt": { "id": "mqtt-cred", "name": "Mosquitto Local" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/sensor/log",
        "sendBody": true,
        "contentType": "json",
        "jsonBody": "={{ {\n  \"soil_moisture\": $('Parse Decision JSON').item.json.soil_moisture,\n  \"temperature\": $('Parse Decision JSON').item.json.temperature,\n  \"humidity\": $('Parse Decision JSON').item.json.humidity,\n  \"rain_detected\": $('Parse Decision JSON').item.json.rain_detected,\n  \"rain_expected\": $('Parse Decision JSON').item.json.rain_expected,\n  \"decision\": $('Parse Decision JSON').item.json.decision,\n  \"reason\": $('Parse Decision JSON').item.json.reason,\n  \"next_check_minutes\": $('Parse Decision JSON').item.json.next_check_minutes,\n  \"urgency\": $('Parse Decision JSON').item.json.urgency,\n  \"health_score\": $('Parse Decision JSON').item.json.health_score\n} }}",
        "options": {}
      },
      "id": "log-sensor",
      "name": "Log to SQLite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1500, 450]
    }
  ],
  "connections": {
    "MQTT Trigger": { "main": [[{ "node": "Get Weather Forecast", "type": "main", "index": 0 }]] },
    "Get Weather Forecast": { "main": [[{ "node": "Ollama Decision", "type": "main", "index": 0 }]] },
    "Ollama Decision": { "main": [[{ "node": "Parse Decision JSON", "type": "main", "index": 0 }]] },
    "Parse Decision JSON": { "main": [[{ "node": "IF Irrigate?", "type": "main", "index": 0 }]] },
    "IF Irrigate?": {
      "main": [
        [{ "node": "Pump ON", "type": "main", "index": 0 }],
        [{ "node": "Log to SQLite", "type": "main", "index": 0 }]
      ]
    },
    "Pump ON": { "main": [[{ "node": "Wait", "type": "main", "index": 0 }]] },
    "Wait": { "main": [[{ "node": "Pump OFF", "type": "main", "index": 0 }]] },
    "Pump OFF": { "main": [[{ "node": "Log to SQLite", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": {},
  "tags": []
}