workflow-main.json
{
  "name": "AgroMind - Main CPS Loop",
  "nodes": [
    {
      "parameters": {
        "topic": "agromind/sensors",
        "options": {}
      },
      "id": "mqtt-trigger",
      "name": "MQTT Trigger",
      "type": "n8n-nodes-base.mqttTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "mqtt": { "id": "mqtt-cred", "name": "Mosquitto Local" }
      }
    },
    {
      "parameters": {
        "url": "http://localhost:8000/weather/forecast",
        "options": {}
      },
      "id": "get-weather",
      "name": "Get Weather Forecast",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/generate",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "model", "value": "qwen2.5:14b" },
            { "name": "stream", "value": false },
            {
              "name": "prompt",
              "value": "=You are an agricultural AI assistant. Analyze sensor data and return ONLY valid JSON.\n\nSensor Data:\n- Soil Moisture: {{ $('MQTT Trigger').item.json.soil_moisture }}%\n- Temperature: {{ $('MQTT Trigger').item.json.temperature }}°C\n- Humidity: {{ $('MQTT Trigger').item.json.humidity }}%\n- Rain Expected: {{ $('Get Weather Forecast').item.json.rain_expected }}\n- Rain Probability: {{ $('Get Weather Forecast').item.json.rain_probability_next_hour }}%\n\nDecide whether to irrigate. Return ONLY this JSON:\n{\"decision\": \"IRRIGATE\" or \"SKIP\", \"reason\": \"one sentence\", \"health_score\": 0-100, \"next_check_minutes\": 15-60}"
            }
          ]
        }
      },
      "id": "ollama-decide",
      "name": "Ollama Decision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.response;\nconst match = raw.match(/\\{[\\s\\S]*\\}/);\nif (!match) throw new Error('No JSON in Ollama response');\nconst parsed = JSON.parse(match[0]);\nparsed.next_check_minutes = Math.min(parsed.next_check_minutes || 15, 3);\nreturn [{ json: { ...parsed, ...$('MQTT Trigger').item.json } }];"
      },
      "id": "parse-decision",
      "name": "Parse Decision JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{ $json.decision }}", "value2": "IRRIGATE" }]
        }
      },
      "id": "if-irrigate",
      "name": "IF Irrigate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "topic": "agromind/pump",
        "message": "ON",
        "options": {}
      },
      "id": "pump-on",
      "name": "Pump ON",
      "type": "n8n-nodes-base.mqtt",
      "typeVersion": 1,
      "position": [1500, 200],
      "credentials": {
        "mqtt": { "id": "mqtt-cred", "name": "Mosquitto Local" }
      }
    },
    {
      "parameters": {
        "amount": "={{ $json.next_check_minutes }}",
        "unit": "minutes"
      },
      "id": "wait",
      "name": "Wait",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1750, 200]
    },
    {
      "parameters": {
        "topic": "agromind/pump",
        "message": "OFF",
        "options": {}
      },
      "id": "pump-off",
      "name": "Pump OFF",
      "type": "n8n-nodes-base.mqtt",
      "typeVersion": 1,
      "position": [2000, 200],
      "credentials": {
        "mqtt": { "id": "mqtt-cred", "name": "Mosquitto Local" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/sensor/log",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "soil_moisture", "value": "={{ $('MQTT Trigger').item.json.soil_moisture }}" },
            { "name": "temperature", "value": "={{ $('MQTT Trigger').item.json.temperature }}" },
            { "name": "humidity", "value": "={{ $('MQTT Trigger').item.json.humidity }}" },
            { "name": "rain_expected", "value": "={{ $('Get Weather Forecast').item.json.rain_expected }}" },
            { "name": "decision", "value": "={{ $('Parse Decision JSON').item.json.decision }}" },
            { "name": "reason", "value": "={{ $('Parse Decision JSON').item.json.reason }}" },
            { "name": "health_score", "value": "={{ $('Parse Decision JSON').item.json.health_score }}" },
            { "name": "next_check_minutes", "value": "={{ $('Parse Decision JSON').item.json.next_check_minutes }}" }
          ]
        }
      },
      "id": "log-sensor",
      "name": "Log to SQLite",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1500, 450]
    }
  ],
  "connections": {
    "MQTT Trigger": { "main": [[{ "node": "Get Weather Forecast", "type": "main", "index": 0 }]] },
    "Get Weather Forecast": { "main": [[{ "node": "Ollama Decision", "type": "main", "index": 0 }]] },
    "Ollama Decision": { "main": [[{ "node": "Parse Decision JSON", "type": "main", "index": 0 }]] },
    "Parse Decision JSON": { "main": [[{ "node": "IF Irrigate?", "type": "main", "index": 0 }]] },
    "IF Irrigate?": {
      "main": [
        [{ "node": "Pump ON", "type": "main", "index": 0 }],
        [{ "node": "Log to SQLite", "type": "main", "index": 0 }]
      ]
    },
    "Pump ON": { "main": [[{ "node": "Wait", "type": "main", "index": 0 }]] },
    "Wait": { "main": [[{ "node": "Pump OFF", "type": "main", "index": 0 }]] },
    "Pump OFF": { "main": [[{ "node": "Log to SQLite", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": {},
  "tags": []
}