workflows/workflow-main.json
{
  "name": "AgroMind - Main CPS Loop",
  "nodes": [
    {
      "parameters": {
        "topic": "agromind/sensors",
        "options": {}
      },
      "id": "mqtt-trigger",
      "name": "MQTT Trigger",
      "type": "n8n-nodes-base.mqttTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "credentials": {
        "mqtt": { "id": "mqtt-hivemq", "name": "HiveMQ Cloud" }
      }
    },
    {
      "parameters": {
        "url": "https://agromindai-q5m4.onrender.com/weather/forecast",
        "options": { "timeout": 10000 }
      },
      "id": "get-weather",
      "name": "Get Weather Forecast",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agromindai-q5m4.onrender.com/agents/decide",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"sensor_data\": {\n    \"soil_moisture\": {{ $('MQTT Trigger').item.json.soil }},\n    \"temperature\": {{ $('MQTT Trigger').item.json.temp }},\n    \"humidity\": {{ $('MQTT Trigger').item.json.hum }},\n    \"light\": {{ $('MQTT Trigger').item.json.light }},\n    \"rain_detected\": {{ $('MQTT Trigger').item.json.rain }}\n  },\n  \"weather_data\": {\n    \"rain_probability_next_hour\": {{ $('Get Weather Forecast').item.json.rain_probability_next_hour }},\n    \"rain_expected\": {{ $('Get Weather Forecast').item.json.rain_expected }},\n    \"precipitation_probability_max\": {{ $('Get Weather Forecast').item.json.precipitation_probability_max }},\n    \"temperature_2m_max\": {{ $('Get Weather Forecast').item.json.temperature_2m_max }}\n  }\n}",
        "options": { "timeout": 15000 }
      },
      "id": "agents-decide",
      "name": "Multi-Agent Decision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "jsCode": "// Extract fields from multi-agent response\nconst agentResp = $input.item.json;\nconst d = agentResp.decision;\n\nif (!d || agentResp.status !== 'success') {\n  // Fallback: rule-based decision if agent system failed\n  const soil = $('MQTT Trigger').item.json.soil || 50;\n  const rain = $('MQTT Trigger').item.json.rain || false;\n  return [{ json: {\n    pump: soil < 30 && !rain ? 'ON' : 'OFF',\n    irrigation_duration_sec: soil < 30 && !rain ? 90 : 0,\n    decision: soil < 30 && !rain ? 'IRRIGATE' : 'SKIP',\n    health_score: 50,\n    next_check_minutes: 10,\n    reason: 'Fallback rule-based decision (agent system unavailable)',\n    confidence: 0,\n    risk_level: 'caution',\n    ...$('MQTT Trigger').item.json\n  }}];\n}\n\nconst cmd = d.final_command || {};\nconst plan = d.irrigation_plan || {};\nconst health = d.crop_health || {};\nconst safety = d.safety_validation || {};\n\nreturn [{ json: {\n  pump: cmd.pump || 'OFF',\n  irrigation_duration_sec: Math.min(cmd.duration_sec || 0, 180),\n  decision: plan.decision || 'SKIP',\n  health_score: health.health_score || 0,\n  next_check_minutes: plan.next_check_minutes || 10,\n  reason: cmd.explanation || plan.reasoning || 'No reason provided',\n  confidence: plan.confidence || 0,\n  risk_level: safety.risk_level || 'unknown',\n  soil_moisture: $('MQTT Trigger').item.json.soil,\n  temperature: $('MQTT Trigger').item.json.temp,\n  humidity: $('MQTT Trigger').item.json.hum,\n  light: $('MQTT Trigger').item.json.light,\n  rain_detected: $('MQTT Trigger').item.json.rain,\n  rain_expected: $('Get Weather Forecast').item.json.rain_expected\n}}];"
      },
      "id": "parse-decision",
      "name": "Parse Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [{ "value1": "={{ $json.pump }}", "value2": "ON" }]
        }
      },
      "id": "if-irrigate",
      "name": "IF Irrigate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "topic": "agromind/pump",
        "message": "={\"action\":\"ON\",\"duration_sec\":{{ $json.irrigation_duration_sec }}}",
        "options": {}
      },
      "id": "pump-on",
      "name": "Pump ON",
      "type": "n8n-nodes-base.mqtt",
      "typeVersion": 1,
      "position": [1500, 175],
      "credentials": {
        "mqtt": { "id": "mqtt-hivemq", "name": "HiveMQ Cloud" }
      }
    },
    {
      "parameters": {
        "amount": "={{ $json.irrigation_duration_sec || 60 }}",
        "unit": "seconds"
      },
      "id": "wait",
      "name": "Wait (duration_sec)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [1750, 175]
    },
    {
      "parameters": {
        "topic": "agromind/pump",
        "message": "{\"action\":\"OFF\",\"duration_sec\":0}",
        "options": {}
      },
      "id": "pump-off",
      "name": "Pump OFF",
      "type": "n8n-nodes-base.mqtt",
      "typeVersion": 1,
      "position": [2000, 175],
      "credentials": {
        "mqtt": { "id": "mqtt-hivemq", "name": "HiveMQ Cloud" }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agromindai-q5m4.onrender.com/sensor/log",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"soil_moisture\": {{ $('Parse Decision').item.json.soil_moisture }},\n  \"temperature\": {{ $('Parse Decision').item.json.temperature }},\n  \"humidity\": {{ $('Parse Decision').item.json.humidity }},\n  \"light\": {{ $('Parse Decision').item.json.light }},\n  \"rain_detected\": {{ $('Parse Decision').item.json.rain_detected }},\n  \"rain_expected\": {{ $('Parse Decision').item.json.rain_expected }},\n  \"decision\": \"{{ $('Parse Decision').item.json.decision }}\",\n  \"reason\": \"{{ $('Parse Decision').item.json.reason }}\",\n  \"health_score\": {{ $('Parse Decision').item.json.health_score }},\n  \"next_check_minutes\": {{ $('Parse Decision').item.json.next_check_minutes }},\n  \"pump_duration_sec\": {{ $('Parse Decision').item.json.irrigation_duration_sec }},\n  \"confidence\": {{ $('Parse Decision').item.json.confidence }},\n  \"risk_level\": \"{{ $('Parse Decision').item.json.risk_level }}\"\n}",
        "options": {}
      },
      "id": "log-sensor",
      "name": "Log to Backend",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1500, 450]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://agromindai-q5m4.onrender.com/pump/log",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"action\":\"ON\",\"duration_sec\":{{ $('Parse Decision').item.json.irrigation_duration_sec }}}",
        "options": {}
      },
      "id": "log-pump",
      "name": "Log Pump Action",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2250, 175]
    }
  ],
  "connections": {
    "MQTT Trigger": { "main": [[{ "node": "Get Weather Forecast", "type": "main", "index": 0 }]] },
    "Get Weather Forecast": { "main": [[{ "node": "Multi-Agent Decision", "type": "main", "index": 0 }]] },
    "Multi-Agent Decision": { "main": [[{ "node": "Parse Decision", "type": "main", "index": 0 }]] },
    "Parse Decision": { "main": [[{ "node": "IF Irrigate?", "type": "main", "index": 0 }]] },
    "IF Irrigate?": {
      "main": [
        [{ "node": "Pump ON", "type": "main", "index": 0 }],
        [{ "node": "Log to Backend", "type": "main", "index": 0 }]
      ]
    },
    "Pump ON": { "main": [[{ "node": "Wait (duration_sec)", "type": "main", "index": 0 }]] },
    "Wait (duration_sec)": { "main": [[{ "node": "Pump OFF", "type": "main", "index": 0 }]] },
    "Pump OFF": { "main": [[{ "node": "Log Pump Action", "type": "main", "index": 0 }]] },
    "Log Pump Action": { "main": [[{ "node": "Log to Backend", "type": "main", "index": 0 }]] }
  },
  "active": true,
  "settings": {},
  "tags": ["agromind", "main-loop", "v3"]
}
